<div class="page">
  <div class="hero">
    <h1>{{ title }}</h1>
    <h3>Try this example of http request</h3>
  </div>
  <div class="to-login">
    <a routerLink="/login">
      <button class="btn-log" type="button">Login</button>
    </a>
  </div>
  <div class="description">
    <ul class="list">
      <li>
        as first step you need to sign in on the link over the button above.
      </li>
      <li>second, go to the user page and copy the token</li>
      <li>
        third, paste the token key on the input in this page and click the
        button to login
      </li>
      <li>four, navigate in the site</li>
    </ul>
  </div>
</div>
