.form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 50px;
}

.input-field {
    width: 70%;
    height: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #bbb;
    border-radius: 0.625rem 0 0 0.625rem;
}
.icon {
    margin: auto 10px;
    color: #444;
    background-color: #fff;
}
.search {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.625rem 0 0 0.625rem;
    padding: 0 0.635rem;
}

.number-field {
    width: 15%;
    height: 100%;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.number {
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 1.625rem;
    border: none;
}

.btn-submit {
    height: 100%;
    width: 100px;
    font-size: 15px;
    border: none;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 0 0.325rem 0.325rem 0;
}
.btn-submit:hover {
    cursor: pointer;
    background-color: #444;
    color: white;
}


@media screen and (max-width: 1200px) {
    .form {
        width: 600px;
    }
}
